<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Assimp" version="3.0.0" targetFramework="native" />
  <package id="Assimp.redist" version="3.0.0" targetFramework="native" />
  <package id="boost" version="1.75.0.0" targetFramework="native" />
  <package id="boost_date_time-vc142" version="1.75.0.0" targetFramework="native" />
  <package id="glew" version="1.9.0.1" targetFramework="native" />
  <package id="glew.redist" version="1.9.0.1" targetFramework="native" />
  <package id="glfw" version="3.3.3" targetFramework="native" />
  <package id="glm" version="0.9.9.800" targetFramework="native" />
  <package id="nupengl.core" version="0.1.0.1" targetFramework="native" />
  <package id="nupengl.core.redist" version="0.1.0.1" targetFramework="native" />
</packages>